
@import "variables-grid";


// MOBILE
//———————————————————————————————————————————

@media(min-width: 300px){
	
	.mobile_logo{
		display: block;
	}

	.desktop_logo{
		display: none;
	}

	.samples_text{
		display: none;
	}

	nav{
		a{
			margin: 0.8em 1em 0 0;
		}
	}

	// mobile only project navigation
	.samples_nav{
		display: block;
	}

	.samples_container{
		margin: 0 auto;
		float: none;
	}

	.graphic_samples{
		display: none;
	}


	.bts_button{
		float: none;
		clear: both;
	}

	.case_study_container{
		float: none;
		clear: both;
		margin-top: 2em;
	}

	//project minor (b) images
	.b_image{
		margin: 0 auto;
		clear: both;
		margin: 1.5em auto;
	}

	.other_samples_container{
		display: none;
	}

}



// TALBET
//———————————————————————————————————————————

@media(min-width: 420px){
	
	.mobile_logo{
		display: none;
	}

	.desktop_logo{
		display: block;
	}

	.samples_text{
		display: block;
	}

	nav{
		a{
			margin: 0.8em 1.5em 0 0.5em;
		}
	}

	// mobile only projects navigation
	.samples_nav{
		display: none;
	}

	.samples_container{
		margin: 0 auto;
		float: left;
	}

	.graphic_samples{
		display: block;
		float: right;
	}

	.bts_button{
		float: left;
		clear: none;
	}

	.case_study_container{
		float: left;
		clear: none;
		margin-top: 0;

		// makes it so the last image isn't pushed off
		img:last-of-type{
			margin-right: 0;
		}
	}

	//project minor (b) images
	.b_image{
		clear: none;
		float: left;
		margin: 0 15% 0 0;
	}

	.other_samples_container{
		display: block;
	}

}



// DESKTOP SIZE
//———————————————————————————————————————————

@media(min-width: 978px){
	



}










