---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables-grid",
		"breakpoints";


// BASIC HTML STANDARDS
//———————————————————————————————————————————


html {
  height: 100%;
  box-sizing: border-box;
}

// used for the footer
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
	margin: 0 auto;
	// z-index: 1;
	display: block;
	position: relative;
	min-height: 100%;
}

header{
	width: 100%;
	margin-bottom: 1em;
	// padding: 0.5em 0;
	overflow: hidden;
	background-color: #fff;
	border-bottom: solid 10px $gray-color;

	.logo{
		float: left;

		img{
			width: 40px;
			margin: 0 1em;
		}

		h3{
			margin: 0.5em 2em;
		}

		a{
			float: left;
			font-size: 17px;
			color: #000;
		}
	}
}

nav{
	float: left;

	a{
		float: left;
		margin-right: 1em;
		font-size: 17px;
		color: #000;
		padding-top: 0.7em;
	}
}


.page-content, .wrapper{
	max-width: $website-width;
	overflow: hidden;
	display: block;
	margin: 0 auto;
}


// FONTS AND TYPE
//———————————————————————————————————————————

p, h1, h2{
	font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

p{
	font-size: 17px;
	line-height: 1.4;
	margin: 1.5em auto;
}

h1, h2{
	font-weight: 600;
}

h3{
	// janinahartley Logo font/header
	font-family: 'Dosis', 'Tahoma', 'Geneva', sans-serif;
	font-weight: 300;
}

a{
	font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	text-decoration: none;
}



// TEXT, COLORS, SPAN CHANGES
//———————————————————————————————————————————

.prime-color{
	color: $prime-color;
}

.underlined{
	text-decoration: underline;
}

.show_content{
	display: block;
}

.clear{
	float: clear;
}

span.underline{
	a{
		text-decoration: underline;
		color: $prime-color;
	}
}



// WORK SAMPLES
//———————————————————————————————————————————

.all_samples_container{
	margin: 0 auto;
	overflow: hidden;
}

.projects_container{
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.project_block{
	width: 300px;
	height: 180px;
	margin: 0 auto 1em auto;
	background-color: #79A7B5;

	&:hover{
		cursor: pointer;
		background-color: lighten(#79A7B5, 10%);
	}
}

.other_project_block{
	width: 300px;
	height: 180px;
	margin: 0 auto 1em auto;
	background-color: #79A7B5;

	&:hover{
		cursor: pointer;
		background-color: lighten(#79A7B5, 10%);
	}
}

.levelup_img{
	background-image: url('../../images/levelup/levelupLogoSmall.png');

	&:hover{
		cursor: pointer;
		background-color: $prime-color;
		background-blend-mode: screen;
	}
}



// CASE STUDY PAGES
//———————————————————————————————————————————

// back to samples button
.bts_button{
	padding: 0.5em 1em;
	box-sizing: border-box;
	background-color: #FEF6F6;

	&:hover{
		cursor: pointer;
	}
}

.case_study_container{
	box-sizing: border-box;
	padding: 0 20px;
	margin-bottom: 2em;
}




// project main image
.project_banner{
	margin: 0 auto;
	display: block;
}

.project-overview{
	width: 100%;

	p{
		margin: 0.5em 0 1em 0;
	}
}

// case study picture conatiner
.cs-pictures-container{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;

	width: 100%;
	// margin: 2em auto 2.5em auto;
}

.flex-item{
	margin-bottom: 25px;
}

//project minor (b) images
.b_image{
	display: block;
	margin: auto;
	box-sizing: border-box;
	width: 100%;
}

.b_border{
	border: 1px solid $accent-color;
}

.other_samples_container{
	float: left;
	overflow: hidden;

	.other_samples{
		padding: 0.5em 1em;
		margin-bottom: 1em;
		background-color: #fff;
	}
}



// LIGHTBOX
//———————————————————————————————————————————

.lightbox{
	// z-index: 2;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left:0;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: scroll;
	display: none;
}

.lighbox-flexbox{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.lightbox-portrait{
	// flex-basis: 40%;

	img{
		height: 100%;
		box-sizing: border-box;
		padding: 20px;
	}
}

.lightbox-landscape{
	flex-basis: 65%;

	img{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
	}
}

.body-scroll{
	overflow: hidden;
}



// FOOTER
//———————————————————————————————————————————

footer{
	height: 23px;
	background-color: $accent-color;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}


