---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "variables-grid",
		"breakpoints";


// BASIC HTML STANDARDS
//———————————————————————————————————————————


html {
  height: 100%;
  box-sizing: border-box;
}

// used for the footer
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
	margin: 0 auto;
	display: block;
	position: relative;
	min-height: 100%;
}

header{
	width: 100%;
	box-sizing: border-box;
	padding-top: 0.5em;
	background-color: $prime-color;
	overflow: hidden;

	.logo{
		overflow: hidden;
		width: 40px;
		display: block;
		margin: 0 auto;

		img{
			width: 100%;
		}
	}

	.name{
		width: 100%;
		margin-top: 0.5em;
		background-color: $accent-color;
		padding: 1em 0;
		text-align: center;
	}
}

nav{
	float: left;

	a{
		float: left;
		margin-right: 1em;
		font-size: 17px;
		color: #000;
		padding-top: 0.7em;
	}
}

footer{
	height: 25px;	
	background-color: $accent-color;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}


.page-content, .wrapper{
	// max-width: $website-width;
	overflow: hidden;
	display: block;
	margin: 0 auto;
}



// FONTS AND TYPE
//———————————————————————————————————————————

p, h1, h2{
	font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

p{
	font-size: 17px;
	line-height: 1.4;
	margin: 1.5em auto;
}

h1, h2{
	font-weight: 600;
}

h3{
	text-align: center;
	padding-bottom: 0.5em;
}

h4{
	// janinahartley Logo font/header
	font-family: 'Dosis', 'Tahoma', 'Geneva', sans-serif;
	font-weight: 300;
	font-size: 19px;
}

a{
	font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	text-decoration: none;
}



// TEXT, COLORS, SPAN CHANGES
//———————————————————————————————————————————

.prime-color{
	color: $prime-color;
}

.underlined{
	text-decoration: underline;
}

.show_content{
	display: block;
}

.clear{
	float: clear;
}

span.underline{
	a{
		text-decoration: underline;
		color: $prime-color;
	}
}



// HOME PAGE
//———————————————————————————————————————————

.home_page_container{
	width: 90%;
	margin: 0 auto;
}

.skills_container{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 6em;
}


.website_icon{
	width: 100%;
	display: block;
	margin: 0 auto;
}






.home_button{
	width: 3em;
	height: 3em;
	padding: 1em 1.5em;
	text-decoration: none;
	background-color: $prime-color;
	margin: 0 auto;
}

.all_samples_container, .contact_container{
	margin: 1em auto;
	overflow: hidden;
	box-sizing: border-box;
	padding: 0.5em;
}

.projects_container{
	width: 100%;
	margin-bottom: 2em;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
}

.project_block{
	width: 300px;
	height: 180px;
	margin: 0 auto 1em auto;

	&:hover{
		cursor: pointer;
		background-color: $border-color;
		background-blend-mode: screen;
	}
}

.levelup_img_large{
	background-image: url('../../images/levelup/levelupLogoLarge.png');
}

.recsports_img_large{
	background-image: url('../../images/recsports/recsportsLogoLarge.png');
}

.nectar_img_large{
	background-image: url('../../images/nectar/nectarLogoLarge.png');
}



// CASE STUDY PAGES
//———————————————————————————————————————————

.case_study_container{
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 2em;
	margin-bottom: 2em;
}

// project main image
.project_banner{
	width: 100%;
	margin: 0 auto;
	display: block;
}

.project_overview{
	width: 100%;

	h3{
		margin-top: 2em;
		border-bottom: 1px solid $prime-color;
	}
}



.project-cs-info{
	width: 100%;
	box-sizing: border-box;
}

// case study picture conatiner
.cs_content_container{
	margin: 0 auto;
	box-sizing: border-box;
}

.cs_flex_container{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

.flex-item{
	margin-bottom: 1em;
}

//project minor (b) images
.b_image{
	display: block;
	margin: auto;
	box-sizing: border-box;
	width: 100%;
}

.b_border{
	border: 1px solid $border-color;
}

.other_samples_container{
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 35px;
	overflow: hidden;
	background-color: $prime-light;
}

.other_samples_content{
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0.5em 1em;
}

.other_samples_flex{
	margin: 0 auto;
	width: 100%;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.other_samples{
	width: 200px;
	height: 120px;
	margin: 1em;

	&:hover{
		cursor: pointer;
		background-color: $border-color;
		background-blend-mode: screen;
	}
}

.levelup_img_small{
	background-image: url('../../images/levelup/levelupLogoSmall.png');
}

.recsports_img_small{
	background-image: url('../../images/recsports/recsportsLogoSmall.png');
}

.nectar_img_small{
	background-image: url('../../images/nectar/nectarLogoSmall.png');
}


// LIGHTBOX
//———————————————————————————————————————————

.lightbox{
	// z-index: 2;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left:0;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: scroll;
	display: none;
}

.lighbox-flexbox{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.lightbox-portrait{

	img{
		height: 100%;
		box-sizing: border-box;
		padding: 20px;
	}
}

.lightbox-landscape{

	img{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
	}
}

.body-scroll{
	overflow: hidden;
}



