

// @import "variables-grid",
// 		"breakpoints",
// 		"home-page",
// 		"projects",
// 		"blog-page";


@import "variables-grid",
		"breakpoints";


// BASIC HTML STANDARDS
//———————————————————————————————————————————

body{
	max-width: 1412px;
	margin: 0 auto;
}

header{
	width: 100%;
	height: 40px;
	margin-bottom: 1em;
	padding: 5px 0 10px 0;
	background-color: #fff;
	overflow: hidden;
	border-bottom: 2px solid #F7F7F7;

	.logo{
		float: left;

		img{
			width: 40px;
			margin: 0 1em;
		}

		h3{
			margin: 0.5em 2em;
		}

		a{
			float: left;
			font-size: 17px;
			color: #000;
		}
	}
}

nav{
	float: left;

	a{
		float: left;
		font-size: 17px;
		color: #000;
	}
}


// FONTS AND TYPE
//———————————————————————————————————————————

p, h1, h2{
	font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

p{
	font-size: 17px;
}

h1, h2{
	font-weight: 600;
}

h3{
	// janinahartley Logo font/header
	font-family: 'Dosis', 'Tahoma', 'Geneva', sans-serif;
	font-weight: 300;
}

a{
	font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	text-decoration: none;
}



// COLORS AND SPAN CHANGES
//———————————————————————————————————————————

.pink-color{
	color: $prime-color;
}

.underlined{
	text-decoration: underline;
}

.show_content{
	display: block;
}


// WORK SAMPLES	
//———————————————————————————————————————————

	.all_samples_container{
		margin: 0 auto;
		overflow: hidden;
	}

	.samples_nav{
		a{
			width: 50%;
			margin: 0 auto;
			float: left;
			text-align: center;
		}
	}

	.activated{
		background-color: #F7F7F7;
	}

	.samples_container{
		overflow: hidden;

		h2{
			text-align: center;
		}
	}

	.sample_ex{
		width: 300px;
		height: 180px;
		margin: 1em auto;

		&:hover{
			cursor: pointer;
		}

	}

	.ui_samples{
		.sample_ex{
			background-color: #79A7B5;
			&:hover{
				background-color: lighten(#79A7B5, 10%)
			}
		}
	}

	.graphic_samples{
		.sample_ex{
			background-color: #E8A91D;
			&:hover{
				background-color: lighten(#E8A91D, 10%)
			}
		}
	}

	.samples_text{
		.sample_text{
			width: 300px;
			height: 180px;
			margin: 1em auto;
			box-sizing: border-box;
			display: none;
			
		}
	}

	.ui_text{
		float: left;
		text-align: left;
	}

	.graphic_text{
		float: right;
		text-align: right;
	}

	#blank_sample{
		width: 300px;
		height:180px;
		background-color: #fff;
		float: left;
	}



// CASE STUDY PAGES
//———————————————————————————————————————————

	// back to samples button
	.bts_button{
		padding: 0.5em 1em;
		box-sizing: border-box;
		background-color: #FEF6F6;

		&:hover{
			cursor: pointer;
		}
	}

	// project main image
	.project_banner{
		width: 100%;
	}

	//project minor (b) images
	.b_image{
		display: block;
	}

	.other_samples_container{
		float: left;
		overflow: hidden;

		.other_samples{
			padding: 0.5em 1em;
			margin-bottom: 1em;
			background-color: #fff;
		}
	}

	


