<footer>

	<h1> Even more work </h1>

	<div class="social_container">

		<a href="https://www.behance.net/hartley1412" target="_blank">

			<img src="./images/icon-behance.svg" class="social_icon behance">

		</a>


		<a href="https://dribbble.com/janinahartley" target="_blank">

			<img src="./images/icon-dribble.svg" class="social_icon dribble">

		</a>


		<a href="https://www.linkedin.com/in/janina-hartley/" target="_blank">

			<img src="./images/icon-linkedin.svg" class="social_icon">

		</a>

	</div>

	<a href="mailto:design@janinahartley.com" class="a_contact">

		<div class="contact_me contact_footer"> Contact Me </div>

	</a>

</footer>

