<header>

  <div class="logo">

    <a href="./index.html" class="mobile_logo">
      <img src="./images/logo-favicon.png">
    </a>

    <a href="./index.html" class="desktop_logo">
      <h3> janina<span class="prime-color">hartley</span> </h3>
    </a>

  </div>
  

 <!--  <nav>

    {% if page.url == '/worksamples' %} 
    <span class="underline">

    {% else %}
    <span>
    

    {% endif %}

    <a href="./worksamples"> Work Samples </a>
    </span>

  



    {% if page.url == '/#' %} 
    <span class="underline">

    {% else %}
    <span>
    

    {% endif %}

    <a href="#"> Contact Me </a>
    </span>
    

  </nav> -->


</header>
