<div class="cs_flex_container">

  <div class="flex-item static-img-portrait">
    
    <a href="./images/levelup/tablet-badge-page-01.png" class="portrait-trigger">

      <img class="b_image b_border" src="./images/levelup/tablet-badge-page-01-SMALL.png">

    </a>

  </div>


  <div class="flex-item static-img-portrait">
    
    <a href="./images/levelup/tablet-badge-page-02.png" class="portrait-trigger">

      <img class="b_image b_border" src="./images/levelup/tablet-badge-page-02-SMALL.png">

    </a>

  </div>


  <div class="flex-item static-img-portrait">
    
    <a href="./images/levelup/tablet-lessons-page-06.png" class="portrait-trigger">

      <img class="b_image b_border" src="./images/levelup/tablet-lessons-page-06-SMALL.png">

    </a>

  </div>


  <div class="flex-item static-img-portrait">
    
    <a href="./images/levelup/mobile-badge-page-01.png" class="portrait-trigger">

      <img class="b_image b_border" src="./images/levelup/mobile-badge-page-01-SMALL.png">

    </a>

  </div>


  <div class="flex-item static-img-portrait">
    
    <a href="./images/levelup/mobile-badge-page-02.png" class="portrait-trigger">

      <img class="b_image b_border" src="./images/levelup/mobile-badge-page-02-SMALL.png">

    </a>

  </div>


  <div class="flex-item static-img-portrait">
    
    <a href="./images/levelup/mobile-lessons-page-08.png" class="portrait-trigger">

     <img class="b_image b_border" src="./images/levelup/mobile-lessons-page-08-SMALL.png">

    </a>
    
  </div>

</div>


