
<div class="cs_flex_container">
      
  <div class="flex-item static-img-landscape">

    <a href="./images/levelup/style-tiles-01.jpg" class="landscape-trigger">

      <img class="b_image b_border" src="./images/levelup/style-tiles-01.jpg">

    </a>

  </div>

  <div class="flex-item static-img-landscape">

    <a href="./images/levelup/style-tiles-02.jpg" class="landscape-trigger">

      <img class="b_image b_border" src="./images/levelup/style-tiles-02.jpg">

    </a>

  </div>


  <div class="flex-item static-img-landscape">

    <a href="./images/levelup/style-tiles-03.jpg" class="landscape-trigger">

     <img class="b_image b_border" src="./images/levelup/style-tiles-03.jpg">

    </a>

  </div>

</div>

