
@import "variables-grid";


// MOBILE
// ———————————————————————————————————————————

@media(min-width: 300px){

	.graphic-samples{
		display: none;
	}


	.bts_button{
		float: none;
	}

	.case_study_container{
		float: none;
	}

}





// TALBET
// ———————————————————————————————————————————

@media(min-width: 420px){
	
	.bts_button{
		float: left;
	}

	.case_study_container{
		float: left;
	}

}



// DESKTOP SIZE
// ———————————————————————————————————————————

@media(min-width: 978px){
	
	
	.graphic-samples{
		display: block;
	}
	
}










