
@import "variables-grid";


// MOBILE
// ———————————————————————————————————————————

@media(min-width: 300px){
	
	.mobile_logo{
		display: block;
	}

	.desktop_logo{
		display: none;
	}

	.bts_button{
		float: none;
	}

	.case_study_container{
		float: none;

		h2, p{
			box-sizing: border-box;
			padding: 0 10px;
		}
	}

	.cs-pictures-container{
		justify-content: center;
		// align-content: center;
	}

	.flex-item{
		// width: 240px;
		flex-basis: 100%;
	}

}





// TALBET
// ———————————————————————————————————————————

@media(min-width: 650px){
	
	.mobile_logo{
		display: none;
	}

	.desktop_logo{
		display: block;
	}

	.bts_button{
		float: left;
	}

	.case_study_container{
		float: left;
	}

	.static-img-portrait{
		flex-basis: 65%;
	}

	.static-img-landscape{
		flex-basis: 90%;
	}

}



// DESKTOP SIZE
// ———————————————————————————————————————————

@media(min-width: 978px){
	
	.case_study_container{

		h2, p{
			box-sizing: border-box;
			padding: 0 50px;
		}
	}

	.cs-pictures-container{
		justify-content: space-evenly;
	}

	.flex-item{
		flex-basis: 30%;
	}
	
}










