
@import "variables-grid";


// MOBILE
// ———————————————————————————————————————————

@media(min-width: 300px){
	
	.mobile_logo{
		display: block;
	}

	.desktop_logo{
		display: none;
	}


	.cs_content_container{
		padding: 0;
	}

	.cs_flex_container{
		justify-content: center;
	}

	.flex-item{
		flex-basis: 100%;
	}

	.lightbox-landscape{
		flex-basis: 85%;
	}

}



// TALBET
// ———————————————————————————————————————————

@media(min-width: 650px){
	
	.mobile_logo{
		display: none;
	}

	.desktop_logo{
		display: block;
	}


	.cs_content_container{
		padding: 0 3em;
	}

	.cs_flex_container{
		width: 100%;
		justify-content: space-between;
	}

	.flex-item{
		flex-basis: 30%;
	}

	.lightbox-landscape{
		flex-basis: 85%;

		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

}



// DESKTOP SIZE
// ———————————————————————————————————————————

@media(min-width: 1025px){
	

}










