<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  	<div class="lightbox">

  	  <div class="lightbox-content">

  	    <img class="#" src="#"/>

  	  </div>

  	</div>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>


    <!-- JQUERY -->
    <script>
  	
    	$(document).ready(function(){
    		// LIGHTBOX STUFF


    		//LIGHTBOX ACTIVATION
    		$('.lightbox-trigger').click(function(e){
    			e.preventDefault();
 
          var image_href = $(this).attr("href");
          var image_class = $(this).attr("class");


          $('.lightbox-content').html('<img class="' + image_class + '" src="' + image_href +'"/>');

          $('.lightbox-content').addClass("lightbox-picture"); 

          $('.lightbox').show();
   

			}); // LIGHTBOX ACTIVATION END



    		//LIGHTBOX DEACTIVATION
    		$('.lightbox').click(function(e){

    			$('.lightbox').hide();

    		}); // LIGHTBOX DEACTIVATION END


    		
    	});	// LIGHTBOX FUNCTION END


	</script>

  </body>

</html>
