<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>


    <!-- JQUERY -->
    <script>
  	
    	$(document).ready(function(){

    		// MOBILE SAMPLES TABS
			$('.graphic_tab').click(function(e){
				$('.ui_samples').addClass('not_shown');
				$('.ui_tab').removeClass('activated');
        console.log('not show given to ui');

				$('.graphic_samples').addClass('shown');
				$('.graphic_tab').addClass('activated');
        console.log('show given to graphic');
				e.preventDefault();
			});


			$('.ui_tab').click(function(e){
				$('.graphic_samples').addClass('not_shown');
				$('.graphic_tab').removeClass('activated');

				$('.ui_samples').addClass('shown');
				$('.ui_tab').addClass('activated');
				e.preventDefault();
			});

    	});	// MOBILE SAMPLES TABS FUNCTION END


	</script>

  </body>

</html>
